.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
	margin-right: auto;
}

.navbarLink {
	width: 3rem;
	flex-direction: column;
	height: 3rem;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background-color:#C1C3BC90;
	border-radius: 45%;
	border:1px solid #b2b8ad;
	display:flex;
	cursor:pointer;
	color:#273314;
	font-family:Arial;
	font-size:1.1rem;
	font-weight:bold;
	padding: 1rem;
	align-items: center;
	justify-content:center;
	text-decoration:none;
	text-shadow:0px 1px 0px #e3e3e3;
	margin-right: auto;
}
.navbarLink:hover {
	background:linear-gradient(to bottom, rgba(156, 169, 147, 0.2) 5%, rgba(219, 230, 196, 0.2) 100%);
	background-color:rgba(155, 168, 146, 0.2);
}
.navbarLink:active {
	position:relative;
	top:1px;
}

  

